<% content_for :css do %>
  <%= stylesheet_link_tag 'session' %>
<% end %>
<div class="login-wrap">
  <h2>Login</h2>
  <form class="form" id="new_login_form" action="/" accept-charset="UTF-8" method="post">
    <input required="required" placeholder="ログインID" type="text" name="login_form[login_id]" id="login_form_login_id">
    <input required="required" placeholder="パスワード" type="password" name="login_form[password]" id="login_form_password">
    <input type="submit" name="commit" value="ログイン" data-disable-with="ログイン">
    <a href="#"> <p>ログイン情報を忘れたら?</p></a>
  </form>
</div>
