@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
}
